API_ID=17596251
API_HASH=e58343b4c0193e293e391daf97603fcd
TOKEN=5963562690:AAEivv039Hi-FW7caCqR2VxmlFEFIZDkqvE
STRING1=BQEMf1sASgDS-t7Tg9LCiHJBNBuUhrWSprYg1YbIbecvOaxKEWD0JabHYqrAi6KGttoMhxisNxC9HFUqa77wqFTpv_1lAEVfQpes4n_61VhOwGh18DMcnR00lWHfjUUOFhSF3hsshriDJG2hMfi-xZ5OT7e8VbLDfTfh_grHh_o5KC9AJ1kmAqQEAeC5y_2bEWLX3CqMkVCgkkQjxGHnOg8X4DB8o3A9DgO028KG1rQ4rY3i9m4UtUgTpNBMrS80chSvZW4EWTCjEImzd_6U-R0oWaG6ZEEPakczemjY08BpzcQsFE_9aQ9nHtlLyCuDjBe1soioSc1GquQyrd3JXZ0PNIkvugAAAAF2AZtFAA
STRING2=
STRING3=
STRING4=
STRING5=
STRING6=
STRING7=
STRING8=
STRING9=
STRING10=
MONGO_URI=mongodb+srv://hny:zara@cluster0.lfe5o.mongodb.net/?retryWrites=true&w=majority
API_URL=https://api.onegrab.fun
API_KEY=7d2691_8NPG6565pxF6tQ3Nut7guzygq28M0xM9
SONG_DURATION_LIMIT=3600
OWNER_ID=8458947967
LOGGER_ID=-1001603822916
DEFAULT_SERVICE=youtube
DOWNLOADS_DIR=
DB_NAME=MusicBot
COOKIES_URL=
SUPPORT_GROUP=https://t.me/AloneUpdates
SUPPORT_CHANNEL=https://t.me/AloneUpdates
DEVS=8458947967
ENABLE_VPLAY=false
